<!DOCTYPE html>
<html>
<head>
	<title>Slash-Bibliocloud</title>
</head>
<body>
<h1>Slash-Bibliocloud</h1>
<p>Hi, there. There isn’t really any use for a human to visit this page.</p>
<p>This an instance of <a href="https://github.com/NickBarreto/slash-bibliocloud">Slash-Bibliocloud</a>, and it's receving queries from <a href="https://slack.com/">Slack</a> and replying with <a href="http://bibliocloud.com/">Bibliocloud</a> data.</p>
<p>If you want to install this for your team, you can read these <a href="https://github.com/NickBarreto/slash-bibliocloud/blob/master/README.md">instructions</a>.</p>
</body>
</html>